/* ALL initial styling. will change  */
/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.App-input {
  position: absolute;
  margin: auto 0;
  /* width: 1440px; */
  height: 352px;
  left: 0px;
  top: 0px;
  background: linear-gradient(131.73deg, rgba(114, 190, 248, 0.8) 14.46%, rgba(166, 116, 242, 0.8) 87.62%), url(../images/bg__trees.png) right no-repeat;
  width: 100%;
}

/* @media screen and (max-width: 1024px) {
  .App-input {
    background: blue;
  }
} */

h1 {
  position: absolute;
  width: 143px;
  height: 44px;
  /* left: 320px; */
  left: 560px;
  top: 88px;
  
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  
  letter-spacing: 0.25em;
  color: #FFFFFF;
}

input {
  position: absolute;
  width: 800px;
  height: 72px;
  /* left: 320px; */
  left: 560px;
  top: 152px;
  background: #25273C;
  border-radius: 7px;
}

.App-todolist {
  position: absolute;
  padding: 0;
  width: 800px;
  height: 148px;
  /* left: 320px; */
  left: 560px;
  top: 296px;
  background: #25273C;
  border-radius: 7px;
  text-align: center;
}
