.app-input {
  position: absolute;
  width: 1440px;
  height: 352px;
  left: 0px;
  top: 0px;
  background: linear-gradient(131.73deg, rgba(114, 190, 248, 0.8) 14.46%, rgba(166, 116, 242, 0.8) 87.62%);
}

h1 {
  position: absolute;
  width: 143px;
  height: 44px;
  left: 320px;
  top: 88px;
  
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  
  letter-spacing: 0.25em;
  color: #FFFFFF;
}
