.List-item {
    display: flex;
    padding: 24px;
    left: 20px;
    /* flex-direction: row;
    align-items: center; */


    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

button {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    margin-right: 16px;
    cursor: pointer;
}

.button-check {
    border-radius:50%;
    width: 28px;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    margin-right: 16px;
    background: url(./images/icon__check.png), linear-gradient(131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
    background-repeat: no-repeat;
    background-position: center;
}

.todo-complete {
    opacity: 0.6;
    filter: alpha(opacity = 60);
    text-decoration: line-through;
}
