.Todolist {
    position: absolute;
    width: 492px;
    height: 48px;
    left: 154px;
    top: 50px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align:center;
    color: #FFFFFF;
}

.todos li {
    list-style-type: none;
}
