.Todolist {
    position: absolute;
    padding: 0;
    padding-left: 0;
    margin: 0;
    width: 800px;
    height: 48px;
    /* left: 154px; */
    top: 50px;
    list-style-type: none;
}

.Todolist p {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.Todolist li {
    position: absolute;
    left: 0px;
    height: 72px;
    width: 800px;
    font-size: 20px;
    border: 1px solid red;
    color: #FFFFFF;
}
